@{
    ViewData["Title"] = "Bilibili 工具包";
}

<div>
    <div>
        <h3>Youtube字幕(srt)合并与翻译工具</h3>
        <p>用户可以上传youtube视频附带的字幕文件，然后系统会自动合并为5~6s的字幕。</p>
        <p>合并完成后，你还可以在线编辑，调整边界词的位置，或者对该条字幕自动翻译（使用baidu的翻译接口）</p>
        <p>完成基本处理后，可以分开下载字幕文件，中文或者英文。</p>
        <p><a href="~/dmhb/">在线测试地址</a>
        <p><a href="https://github.com/dogvane/bilibiliTools">源代码地址：https://github.com/dogvane/bilibiliTools </a></p>
    </div>
    <div>
        <h3>Bilibili字幕发射器</h3>
        <p>Youtube字幕文件处理完毕后。可以通过弹幕发射工具将字幕发到b站。</p>
        <p>项目用 .net core 写的控制台程序，足够使用了，就懒得优化了。</p>        
        <p><a href="https://github.com/dogvane/bilibiliTools/tree/master/B%E7%AB%99%E5%8F%91%E5%BC%B9%E5%B9%95">源代码地址及说明：https://github.com/dogvane/bilibiliTools/tree/master/B站发弹幕 </a></p>
    </div>

</div>