<!DOCTYPE html>

<html>
<head>
    <title>上传Srt文件</title>
</head>
<body>
<div>
    <form action="~/Home/UpdateSrtFile" method="post" enctype="multipart/form-data">
        <input type="file" name="updateFile" id="updateFile" multiple="" />
        <input type="submit" value="上传" />
    </form>
</div>
</body>
</html>